<html>
<head>
	<title>SIF REST - AU 1.3 Test Implementation</title>
</head>
<body>
	<h1>SIF REST - AU 1.3 Test Implementation</h1>

	<h1>URLs to Try</h1>
	<p>This assumes authentication is disabled...</p>
	<ul>
		<li><a href="StudentPersonals/">StudentPersonals / All</a></li>
		<li><a href="StudentPersonals/406CA944-F9AF-11E2-9B99-FEDC5757E223">StudentPersonals / Single</a></li>
		
		<li><a href="RoomInfos/">RoomInfos / All</a></li>
		<li><a href="SchoolInfos/">SchoolInfos / All</a></li>
		<li><a href="StaffPersonals/">StaffPersonals / All</a></li>
	</ul>
</body>
</html>

