<sif:student xmlns:sif="http://www.sifassociation.org/datamodel/global/3.0">
  <localId></localId>
  <name nameRole="">
    <nameOfRecord>
      <familyName></familyName>
      <givenName></givenName>
    </nameOfRecord>
  </name>
</sif:student>

