<alert id="[% entry.id %]" alertLevel="[% entry.alert %]" xmlns="http://www.SIFinfo.org/au/datamodel/1.3">
	<reporter></reporter>
	<cause></cause>
	<message></message>
	<description></description>
	<data></data>
</alert>
