<queue id="[% entry.RefId %]" type="IMMEDIATE_POLLING">
  <name>[% entry.name %]</name>
  <queueUri>[% BASE %]/queues/[% entry.RefId %]/messages</queueUri>
  <idleTimeout>100</idleTimeout>
  <minWaitTime>100</minWaitTime>
  <created>TODO</created>
  <lastModified>TODO</lastModified>
  <lastAccessed>TODO</lastAccessed>
  <messageCount>0</messageCount>
  <maxConcurrentConnections>0</maxConcurrentConnections>
</queue>

