<TimeTableCell RefId="[% entry.RefId %]" xmlns="http://www.SIFinfo.org/au/datamodel/1.3">
  <TimeTableRefId>[% entry.TimeTable_RefId %]</TimeTableRefId>
  <TimeTableSubjectRefId>[% entry.TimeTableSubject_RefId %]</TimeTableSubjectRefId>
  <TeachingGroupRefId>[% entry.TeachingGroup_RefId %]</TeachingGroupRefId>
  <RoomInfo>[% entry.RoomInfo_RefId %]</RoomInfo>
  <CellType>[% entry.CellType %]</CellType>
  <PeriodID>[% entry.PeriodId %]</PeriodID>
  <DayID>[% entry.DayId %]</DayID>
</TimeTableCell>
